<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.summary.zkhdsummary.mapper.UserMapper">
    <resultMap id="basicUser" type="com.summary.zkhdsummary.bean.User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="department" property="department"></result>
        <result column="password" property="password"></result>
        <result column="card" property="card"></result>
        <association property="userPower" javaType="com.summary.zkhdsummary.bean.Power">
        <id column="id" property="id"></id>
        </association>
    </resultMap>
    <select id="findAllUser" resultMap="basicUser">
      select  * from user;
    </select>
    <!--根据id查询user-->
    <select id="findByid" resultMap="basicUser" parameterType="java.lang.Integer">
      select  * from user where id=#{id};
    </select>
</mapper>